
body { width:100% !important; }

#htmlbody { width:98%; padding:1% !important; }

fieldset { font-size:77%; }

.vocablist .fcards { width:438px !important; }
.vocablist .fcards DL { width:360px; padding:10px; }
.vocablist .fcards DD { margin:5px 0 0 !important; }
.vocablist .fcards .definitions { margin-top:5px !important; padding-top:5px !important; }
.vocablist .fcards big.hz { font-size:55px; }
.vocablist .fcards .definitions { font-size:90%; }
.vocablist .fcards li.mark { top:0; right:-5px; }
.vocablist .fcards LI.known { right:20px; }
.vocablist .fcards li.mark a { padding:1px 2px; }
.vocablist .fcards .pinyin td { width:56px; }

.device_scale { -webkit-transform:scale(/* <ratio here> */) }

BIG.hz { font-size:150%; }
.results TD .hz { display:inline; width:auto !important; }

#box {
	position:absolute; top:auto; left:1%;
	width:auto;
	max-height:none;
	margin:0;
	padding:10px;
}
#box H2 { font-size:20px; white-space:nowrap; }

TABLE.vocab-aded TH { padding:10px 10px 0 0; }
TABLE.vocab-aded TD { padding:10px 0 0; }